<section id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h2>Olá, seja bem-vindo!</h2>
                <p>Esse aplicativo foi desenvolvido para o desafio da Diamond by Bold.</p>
                <p>As tecnologias utilizadas foram PHP (Laravel 5.2), jQuery e AngularJS.</p>
                <p>No layout foi utilizado do Bootstrap.</p>
                <p>Acesse o código pelo GitHub <a href="https://github.com/roncalli-daniel/bold-desafio">https://github.com/roncalli-daniel/bold-desafio</a></p>
                <p>Fique à vontade para testar.</p>
                <p>Saudações,<br>
                    Roncalli Daniel </p>
            </div>
        </div>
    </div>
</section>