<section id="content">
    <div class="alert alert-danger text-center">
        <h2>Erro</h2>
        <div class="text-center">
            <i class="fa fa-frown-o" style="font-size: 73px"></i>
        </div>
        <p style="margin-top: 10px;">Infelizmente ocorreu um erro no aplicativo...</p>
        <p>Recomendo que você tente novamente e se persistir o problema, tente dentro de alguns minutos.</p>
        <p>Agradeço sua compreensão.</p>

        <p style="margin: 20px">
            <a class='btn btn-info' href="#"><i class="fa fa-undo"></i> Tentar novamente</a>
        </p>
    </div>
</section>